* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

:root {
    --primary-color: #f28627;
    --secondary-color: #f25c05;
    --background-color: #fffbfb;
    --btn-hover-color: #5b5b5b;
}

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    overflow-y: scroll;

}

.wrapper {
    position: relative;
    /* border: 2px solid red; */
    max-width: 125rem;
    margin: auto;
}

.content {
    /* border: 2px solid red; */
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content__input {
    max-width: 820px;
    margin: 0rem auto;
    /* border: 2px solid black; */
}

.text__inp {
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 100%;
}

.num__inp {
    display: block;
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    padding: 1rem;
    width: 29rem;
    margin: 5rem auto;
    text-align: center;
    
}


::placeholder {
    font-size: 2rem;
}

.generate__btn {
    margin: 3rem;
    padding: 1.8rem 3rem;
    font-size: 1.9rem;
    border-radius: 1rem;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 30px -15px var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.generate__btn:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: all ease-in-out 400ms;
    box-shadow: 0px 20px 39px -7.5px #f25c057d;
}

/* media quries */

@media screen and (max-width: 1024px) {
    .content__input {
        max-width: 1024px;
        padding: 1.3rem
    }
}

@media screen and (max-width: 768px){
    .content__input {
        max-width: 768px;
        padding: 2rem
    }
}

@media screen and (max-width: 480px) {
    .content__input{
        max-width: 480px;
        padding: 1rem;
    }

    .text__inp{
        width: 30rem;
    }
}