@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

:root {
    --primary-color: #f28627;
    --secondary-color: #f25c05;
    --background-color: #fffbfb;
    --btn-hover-color: #5b5b5b;
    --black-color: #000000;

}

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

.nav__container {
    /* border: 2px solid green; */
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand__heading {
    font-size: 5rem;
    font-weight: 200;
    color: var(--primary-color)
}

a {
    text-decoration: none;
    color: var(--black-color)
}

.link__name {
    font-size: 5rem;
    font-weight: 200;
}

